$cardBackground: rgb(80, 79, 78);
$cardFontColor: #fff;

*{
    margin: 0;
}
body{
    // background: linear-gradient(to right, rgb(59, 1, 59), rgb(141, 30, 141));
    background-color: rgb(235, 232, 232);
}