.header{
    // background-color: fuchsia;
    display: flex;
    flex-direction: column;
    color:#fff;

    &__logo{
        padding: 10px 0;
    }
    &__text{
        padding: 5px 0;
    }






    @media(min-width:500px){
        &{
            flex-direction: row;
            justify-content: space-between;

            &__logo{
                padding: 5px 30px;
            }
            &__text{
                padding: 0 50px ;
                display: grid;
                place-items: center;
            }
        }
    }
}